<div class="container fixed-top colorBody1">
    <nav class="navbar navbar-expand-lg navbar-light colorNavBar2 mt-1">
        <a class="navbar-brand ml-3">
            <img src="../../../assets/img/ojo.png" width="40" height="40" loading="lazy">
        </a>
        <a class="navbar-brand colorName4 ml-3"><strong class="text-uppercase federica6">AlexDJ</strong></a>
        <button class="navbar-toggler colorBody1 mr-3" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> </button>

        <div class="container text-justify ml-5 mr-5">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="cerrarNavBar()" class="nav-link colorName3" [routerLink]="['./inicio']">Portada <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="cerrarNavBar()" class="nav-link colorName3" [routerLink]="['./noticias']">Noticias <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="cerrarNavBar()" class="nav-link colorName3" [routerLink]="['./noticiaCompleta']">Noticia Completa <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="cerrarNavBar()" class="nav-link colorName3" [routerLink]="['./mensajes']">Mensajes <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item" routerLinkActive="active">
                        <a (click)="cerrarNavBar()" class="nav-link colorName3" [routerLink]="['./ajustes']">Ajustes <span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <div class="row">
                    <div class="col text-center">
                        <p class="m-2">
                            <button (click)="alerta()" class="btn btn-outline-warning my-2 my-sm-0" type="button">
                                <span class="badge badge-warning text-uppercase">Contacto</span>
                            </button>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </nav>
</div>
<app-modals></app-modals>
