<div class="container fixed-bottom colorBody1">
    <div class="container text-center colorNavbar2">
        <button (click)="privacidad()" type="button" class="btn btn-warning btn-sm cookies8 mt-n1">
            <u>Política de privacidad y cookies</u>
        </button>
        <div class="row">
            <div class="col">
                <a (click)="whatsApp()" class="cursor7">
                    <i class="fab fa-whatsapp mr-3 ml-3"></i>
                </a>
                <a href="https://www.facebook.com" target="_blank">
                    <i class="fab fa-facebook mr-3"></i>
                </a>
                <a href="mailto:alexcoronell@gmail.com" target="_blank">
                    <i class="fas fa-envelope mr-3"></i>
                </a>
                <a href="https://www.linkedin.com/" target="_blank">
                    <i class="fab fa-linkedin-in mr-3"></i>
                </a>
                <a href="https://www.instagram.com/" target="_blank">
                    <i class="fab fa-instagram mr-3"></i>
                </a>
                <a href="https://www.twitter.com/" target="_blank">
                    <i class="fab fa-twitter mr-3"></i>
                </a>
            </div>
        </div>
        <p class="mb-1"><small class="text-muted colorName3">
                Copyright &copy;&nbsp; Alex Coronell ({{year}}) &nbsp; Todos los derechos reservados
            </small></p>
    </div>
</div>



<!-- Modal -->
<div class="modal fade mt-5 py-5" id="privacidad" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content colorModal11">

            <div class="container backModal12">
                <div class="modal-body text-center colorTexto10">
                    <h4 class="colorName3 text-uppercase mb-4">
                        <u>Política de privacidad y cookies</u>
                    </h4>
                    <p class="font-weight-light text-justify">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem, enim. Aperiam quam, consequatur, alias praesentium adipisci architecto reprehenderit atque in mollitia quod accusamus sapiente voluptate officia ut dolorem dolor autem, illo excepturi voluptatibus nostrum earum totam dignissimos! Sit totam velit, accusantium veritatis earum amet sequi harum quis omnis nam fuga dolores incidunt, maxime modi vel quod fugit quos dignissimos voluptates? Officiis aut aliquid autem tenetur eum earum repellendus nobis laborum doloremque quis sunt blanditiis accusantium numquam suscipit quasi laudantium, quibusdam totam tempore ex dicta reprehenderit hic. Ducimus, aliquam. In vitae id cum omnis quasi, fugit architecto consequuntur, laborum, libero tempore perspiciatis? Laudantium
                    </p>
                    <div class="container text-center">
                        <button *ngIf="modalService.privacidad" (click)="salir()" class="btn btn-outline-warning colorName3" type="button">
                            <i class="fas fa-check"></i>
                        </button>
                        <button *ngIf="!modalService.privacidad" (click)="irAlerta()" class="btn btn-outline-warning colorName3" type="button">
                            <i class="fas fa-check"></i>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
